{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container ">
    <div class="row ">

        <div class="col-sm-8">
            {% for post in posts.items %}
            <div class="single-post-home">
                <h5>
                    <a class="custom-link" href="{{ url_for('post_detail', post_slug=post.slug) }}">
                        {{ post.title }}
                    </a>
                </h5>
                <p class="p-small-two text-muted">Posted {{ post.created_at.strftime('%d.%m.%Y') }} Author
                    {{post.author.username }}
                </p>

                {% if post.description %}
                <p class="p-small-one text-muted mb-0">
                    {{ post.description }}
                    <a class="read-more myFloat_Right" href="{{ url_for('post_detail', post_slug=post.slug) }}">Leggi
                        articolo.</a>
                </p>
                {% endif %}
            </div>
            {% endfor %}

            <div class="pagination-block">
                <a class="btn btn-info mb-4" href="{{ url_for('homepage', page=1) }}">First</a>

                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('homepage', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('homepage', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}

                <a class="btn btn-info mb-4" href="{{ url_for('homepage', page=posts.pages) }}">Last</a>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="greyCol">
                <div class="about-snippet-block text-center">
                    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/Delta_Green.png') }}"
                        alt="">
                    <div class="mt-3">
                        {% if current_user.is_authenticated %}
                        <h3>Benvenuto</h3>
                        <a class="mr-2" href="/account">{{ current_user.username }}</a>
                        {% else %}
                        <li class="list-group-item list-group-item-light">Nessun utente loggato</li>
                        {% endif %}
                        <hr>
                        <h4>Meteo</h4>
                        <p class='text-muted'>Inserisci la tua città</p>
                        <form method="POST" action="/">
                            <div class="input-group mb-3 text-center ">
                                <input class="form-control" type="text" onfocus="this.value=''" name="city" required
                                    style="width: 150px;">
                            </div>
                            <div class="form-group mb-3">

                                <input class=" btn btn-primary" type="submit" value="Cerca-Città">
                                <input class="btn btn-secondary" type="button" value="Clear"
                                    onclick="clearWeatherData()">
                            </div>
                        </form>
                        <br>
                    </div>
                    <!-- Sezione per la visualizzazione dei dati meteo -->
                    {% if weather_data %}
                    <div class="form-box mt-3 mx-auto mb-5">
                        <table style="width: 80%;">
                            <tbody>
                                <tr>
                                    <td style="padding-left: 10px;">
                                        <h4>{{ weather_data.city.upper() }}</h4>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <h4> {{ weather_data.country }}</h4>
                                    </td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td><img src="http://openweathermap.org/img/wn/{{ weather_data.icon }}.png"
                                            alt="Image" height="80" width="80">
                                    </td>
                                    <td style="padding-left: 10px;">{{ weather_data.description }}</td>
                                </tr>
                                <tr>
                                    <td class="text-end ">Temperatura :</td>
                                    <td style="margin-left: 10px;">{{ weather_data.temperature }}° C </td>

                                </tr>
                                <tr>
                                    <td class="text-end ">Longitudine :</td>
                                    <td style="margin-left: 10px;">{{ weather_data.lon }}</td>
                                </tr>
                                <tr>
                                    <td class="text-end ">Latitudine :</td>
                                    <td style="margin-left: 10px;"> {{ weather_data.lat }}</td>
                                </tr>
                                <tr>
                                    <td class="text-end ">Pressione :</td>
                                    <td style="margin-left: 10px;"> {{ weather_data.pressure }} mbar</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Umidità :</td>
                                    <td style="margin-left: 10px;"> {{ weather_data.humidity }}%</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Vento velocità :</td>
                                    <td class="ms-1"> {{ weather_data.speed }}Km/h</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Alba :</td>
                                    <td style="margin-left: 10px;"> {{ weather_data.sunrise }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Tramonto :</td>
                                    <td style="margin-left: 10px;"> {{ weather_data.sunset }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    // Funzione per pulire i dati meteo visualizzati quando il pulsante Clear viene premuto
    function clearWeatherData() {
        // Questo codice svuoterà la tabella contenente i dati meteo 
        document.querySelector('.form-box table').innerHTML = '';
        // Rimuovi la classe che imposta il bordo
        var formBox = document.querySelector('.form-box');
        formBox.classList.remove('form-box');
    }
</script>
{% endblock %}